---
layout: master
title: Home
description: Parham Alvani Homepage
---

<div class="container">

	<header class="row">
	  <div class="col-sm-6 col-md-12" style="margin-top:25px;margin-bottom:25px">
	    <h1 id="pin">{{site.title}}</h1>
	  </div>
	</header>
	<nav>
		<div class="row" style="margin-top:25px">
 			<div class="col-md-4 col-sm-6 col-xs-12">
				<a href="about/">
					<div class="tile blue profile bord">
						<h2 class="title">About Me</h2>
						<p>Hello World, I am {{site.author}}.</p>
					</div>
				</a>
		    </div>
			<div class="col-md-2 col-sm-3 col-xs-6">
				<a href="resume/" title="Resume" class="tile red bord icon-resume"></a>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-6">
				<div class="live-tile" data-mode="flip" data-delay="4000">
					<div>
						<a href="blog/" title="Blog" class="tile orange bord icon-blog"></a>
					</div>
					<div>
						<a href="blog/" title="Blog" class="tile orange bord font-fix">
						<p>Blog Section:</p>
							<ol>
								<li>Posts</li>
								<li>News</li>
							</ol>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="row">

			<div class="col-md-4 col-sm-6 col-xs-12">
				<a href="/downloads">
					<div class="tile yellow bord">
						<h3 class="title">Downloads</h3>
						{% for file in site.data.downloads limit:2 %}
						<h4 class="title">{{ file.name }}</h4>
						{% endfor %}
					</div>
				</a>
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				{% for post in site.posts limit:1 %}
				<a href="{{post.url}}">
					<div class="tile red bord">
						<h3 class="title">Latest Article</h3>
						<h4 class="title">{{ post.title }}</h4>
						<p> {{ post.content | strip_html | truncatewords: 10 }}</p>
					</div>
				</a>
				{% endfor %}
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				{% for post in site.posts %}
					{% if post.featured == true %}
					<a href="{{post.url}}">
						<div class="tile orange bord">
							<h3 class="title">Featured Article</h3>
							<h4 class="title">{{ post.title }}</h4>
							<p> {{ post.content | strip_html | truncatewords: 10 }}</p>
						</div>
					</a>
					{% break %}
					{% endif %}
				{% endfor %}
			</div>
		</div>

		<div class="row" style="margin-bottom:25px">
			<div data-delay="2000" data-mode="flip" class="live-tile flip ha fix-3">
			<div class="col-md-2 col-sm-3 col-xs-6 flip-front ha" style="transform: rotateX(180deg); transition: all 500ms ease 0s;">
				<a class="tile green bord gh-ico" href="https://github.com/1995parham"></a>
			</div>

			<div class="col-md-2 col-sm-3 col-xs-6 flip-back ha" style="transform: rotateX(360deg); transition: all 500ms ease 0s;">
				<a class="tile red bord sto-ico" href="http://stackoverflow.com/users/4242097/parham-alvani"></a>
			</div>
		</div>
			<div class="col-md-2 col-sm-3 col-xs-6">
				<a href="http://careers.stackoverflow.com/1995parham"  class="tile orange bord sto-ico"></a>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-6">
				<a href="http://ceit.aut.ac.ir/~9231058/java/" class="tile blue bord java-ico"></a>
			</div>
<!--
			<div class="col-md-2 col-sm-3 col-xs-6">
				<a href="feed.xml/" class="tile purple bord rs-ico"></a>
			</div>

			<div class="col-md-2 col-sm-3 col-xs-6">
				<a href="{{site.gplus}}" class="tile orange bord gl-ico"></a>
			</div>
-->
			<!-- Mini tile -->
			<div class="col-md-2 col-sm-3 col-xs-6 rside">
				<div class="row">
					<div style="padding-left:0px" class="col-md-6 col-sm-6 col-xs-6">
					    <a href="{{site.hotmail}}" class="mtile blue bord hotmail-ico-sm"></a>
					</div>
					<div style="padding-left:0px" class="col-md-6 col-sm-6 col-xs-6">
						<a href="{{site.workmail}}"  class="mtile gray bord workmail-ico-sm"></a>
					</div>
				</div>
				<div class="row">
					<div  class="col-md-6 col-sm-6 col-xs-6 rep-1">
						<a href="{{site.yahoomail}}" class="mtile purple bord yahoomail-ico-sm"></a>
					</div>
					<div  class="col-md-6 col-sm-6 col-xs-6 rep-2">
						<a href="{{site.gmail}}" class="mtile orange bord gmail-ico-sm"></a>
					</div>
				</div>
			</div>
			<!-- End of Mini tile -->
		</div>
	</nav>
</div>
