---
layout: master
title: Home
description: Parham Alvani Homepage
---

<div class="container">

	<header class="row">
	  <div class="col-sm-6 col-md-12" style="margin-top:25px;margin-bottom:25px">
      <h1 class="display-1 fixed-up text-white">{{site.title}} <small class="lead">@{{site.username}}</small></h1>
	  </div>
	</header>
	<nav>
		<div class="row" style="margin-top:25px">
 			<div class="col-md-4 col-sm-6 col-xs-12">
				<a href="about/">
					<div class="tile blue profile bord">
						<h2 class="title">About Me</h2>
						<p>Hello World, I am {{site.author}}.</p>
					</div>
				</a>
		    </div>
			<div class="col-md-2 col-sm-3 col-xs-6">
        <a href="resume/" title="Resume" class="tile red bord text-center">
          <i class="fa fa-file fa-5x mt-3 text-white" aria-hidden="true"></i>
        </a>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-6">
				<div class="live-tile" data-mode="flip" data-delay="4000">
					<div>
						<a href="blog/" title="Blog" class="tile orange bord icon-blog"></a>
					</div>
					<div>
						<a href="blog/" title="Blog" class="tile orange bord font-fix">
						<p>Blog Section:</p>
							<ol>
								<li>Posts</li>
								<li>News</li>
							</ol>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a href="/downloads">
					<div class="tile yellow bord">
						<h3 class="title">Downloads</h3>
						{% for file in site.data.downloads limit:1 %}
              <h4 class="title">{{ file.name }}</h4>
						{% endfor %}
					</div>
				</a>
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				{% for post in site.posts limit:1 %}
				<a href="{{post.url}}">
					<div class="tile red bord">
						<h3 class="title">Latest Article</h3>
						<h4 class="title">{{ post.title }}</h4>
						<p> {{ post.content | strip_html | truncatewords: 5 }}</p>
					</div>
				</a>
				{% endfor %}
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				{% for post in site.posts %}
					{% if post.featured == true %}
					<a href="{{post.url}}">
						<div class="tile orange bord">
							<h3 class="title">Featured Article</h3>
							<h4 class="title">{{ post.title }}</h4>
							<p> {{ post.content | strip_html | truncatewords: 5 }}</p>
						</div>
					</a>
					{% break %}
					{% endif %}
				{% endfor %}
			</div>
		</div>

		<div class="row" style="margin-bottom:25px">
			<div class="col-md-2 col-sm-3 col-xs-6">
				<div class="live-tile" data-mode="flip" data-delay="4000">
          <div>
            <a class="tile green bord text-center" href="https://github.com/1995parham">
              <i class="fa fa-github fa-5x mt-3 text-white" aria-hidden="true"></i>
            </a>
          </div>
          <div>
            <a class="tile red bord text-center" href="http://stackoverflow.com/users/4242097/parham-alvani">
              <i class="fa fa-stack-overflow fa-5x mt-3 text-white" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
			<div class="col-md-2 col-sm-3 col-xs-6">
				<a href="http://careers.stackoverflow.com/1995parham"  class="tile orange bord sto-ico"></a>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-6">
				<a href="http://ceit.aut.ac.ir/~9231058/java/" class="tile white bord java-ico"></a>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-6">
        <a href="https://www.instagram.com/1995parham/" class="tile red bord text-center">
          <i class="fa fa-instagram fa-5x mt-3 text-white" aria-hidden="true"></i>
        </a>
			</div>
		</div>
	</nav>
</div>
