<head>
	<link href="http://gmpg.org/xfn/11" rel="profile">
	<meta charset="UTF-8">
	{% if page.description %}
	<meta name="description" content="{{page.description}}">
	{% else %}
	<meta name="description" content="{{site.description}}">
	{% endif %}
	<meta name="author" content="{{site.author}}">

	<!-- Enable responsiveness on mobile devices-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

	<title>
		{% if page.title == "Home" %}
		{{ site.title }} &middot; {{ site.tagline }}
		{% else %}
		{{ page.title }} &middot; {{ site.title }}
		{% endif %}
	</title>

	{% if page.path contains '_posts' %}
	<!-- Twitter Card data -->
	<meta name="twitter:card" value="summary">
	<!-- Open Graph data -->
	<meta property="og:title" content="{{page.title}}" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="{{page.url}}" />
	<meta property="og:description" content="{{page.description}}" />
	{% endif %}

	<!-- CSS -->
  <link rel="stylesheet" href="{{"/assets/css/bootstrap.min.css" | relative_url}}">
  <link rel="stylesheet" href="{{"/assets/css/tether.min.css" | relative_url}}">
  <link rel="stylesheet" href="{{"/assets/css/app.css" | relative_url}}">
  <link rel="stylesheet" href="{{"/assets/css/github.css" | relative_url}}">
  <link rel="stylesheet" href="{{"/assets/css/pygments.css" | relative_url}}">
  <link rel="stylesheet" href="{{"/assets/css/font-awesome.min.css" | relative_url}}">
	{% if page.css And page.css != "" And page.css != nil %}
    <link rel="stylesheet" href="{{"/assets/css/" | append: page.css | relative_url}}">
	{% endif %}

  <script src="{{"/assets/js/jquery-3.1.1.min.js" | relative_url}}"></script>
  <script src="{{"/assets/js/tether.min.js" | relative_url}}"></script>
  <script src="{{"/assets/js/bootstrap.min.js" | relative_url}}"></script>

	{% if page.title == "Home" %}
  <link rel="stylesheet" href="{{"/assets/css/bcg.css" | relative_url}}">
  <link rel="stylesheet" href="{{"/assets/css/MetroJs.min.css" | relative_url}}">
	{% endif %}

	{% if page.bloghome == true %}
	<style type="text/css">
		a,a:hover,a:focus {
			color:#DC572E;
		}
	</style>
	{% endif %}

	<link href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>


	<!-- Icons -->
  <link rel="shortcut icon" href="{{"/assets/images/1995parham.png" | relative_url}}">

</head>
