<aside>
  <div class="row">
    <div class="col-md-12 text-center">
        {% if page.path contains '_posts' %}
        <h1 class="text-center" style="margin-top:0px">&nbsp;<a href="/blog" class="icon icon-back"></a></h1>
        {% else %}
        <h1 class="text-center" style="margin-top:0px">&nbsp;<a href="/" class="icon icon-back"></a></h1>
        {% endif %}
  	</div>
  </div>
  <div class="row">
      <div class="col-md-12">
        <ul class="nav flex-column">
        {% for link in site.navigation %}
          <li class="nav-item">
            <a class="nav-link" href="{{link.url}}">{{link.text}}</a>
          </li>
        {% endfor %}
        </ul>
  	</div>
  </div>	
</aside>
