<!--Experience Tab-->
<section id="work-exp" class="bgWhite ofsInBottom">
  <!--Experience -->
  <div class="experience">
    <!--Experience Main title-->
    <app-main-title title="Work Eperience"></app-main-title>
    <!--End main title-->

    <!--Content-->
    <div class="content">
      <div class="block-content">
        <h4>Open Source</h4>
        <!--Timeline-->
        <div class="timeline experience">
          <!--Row-->	
          <div class="row">
            <div class="col-md-12">
              <!--Experience holder-->	
              <div class="exp-holder margTop">
                <!--Experience-->
                <div class="exp">
                  <div class="hgroup">
                    <h4><a href="https://I1820.github.io">I1820 Open-Source Organization</a>&nbsp; [ 2016 - current ]</h4>
                  </div>
                  <p class="tab">Internet of Things (IoT) Software Solutions</p>
                  <br>
                  <div class="hgroup tab">
                    <h6 class="tab">
                      <b>Selected Projects:</b><br>
                      <ul class="two-col-special">
                        <li>IoT Platform: I1820 <a href="https://github.com/I1820" target="_blank"><i class="fab fa-github"></i></a></li>
                        <li>IoT Platform Load Generator: Toskatok <a href="https://github.com/Toskatok" target="_blank"><i class="fab fa-github"></i></a></li>
                      </ul>
                    </h6>
                  </div>
                </div>
                <!--End experience-->
                <!--Experience-->
                <div class="exp">
                  <div class="hgroup">
                    <h4><a href="https://bambil.github.io">Bambil Open-Source Organization</a>&nbsp; [ 2017 - current ]</h4>
                  </div>
                  <p class="tab">Future of Networking</p>
                  <br>
                </div>
                <!--End experience-->
                <!--Experience-->
                <div class="exp">
                  <div class="hgroup">
                    <h4><a href="https://github.com/panamo">Panamo</a>&nbsp; [ 2012 - 2015 ]</h4>
                  </div>
                  <p class="tab">Happy Three Friends</p>
                  <br>
                </div>
                <!--End experience-->
              </div>
              <!--End experience holder-->
            </div>
          </div>
          <!--End row-->
        </div>
        <!--End timeline-->
      </div>

      <div class="block-content">
        <h4>On Campus</h4>
        <!--Timeline-->
        <div class="timeline experience">
          <!--Row-->	
          <div class="row">
            <div class="col-md-12">
              <!--Experience holder-->	
              <div class="exp-holder margTop">
                <!--Experience-->
                <div class="exp">
                  <div class="hgroup">
                    <h4><a href="https://aiotrc.github.io/">Amirkabir IoT Research Center</a>&nbsp; [ 2017 - current ]</h4>
                    <h6><i class="fas fa-thumbtack"></i><b class="bold"><a class="gpacolor" href="http://aut.ac.ir/aut/">Amirkabir University of Technology</a></b>, Tehran, Iran</h6>
                  </div>
                  <p class="tab"></p>
                  <br>
                  <div class="hgroup tab">
                    <h6 class="tab">
                      <b>Selected Projects:</b><br>
                      <ul class="two-col-special">
                        <li>IoT Platform for Iranian Space Research Center</li>
                      </ul>
                    </h6>
                  </div>
                </div>
                <!--End experience-->
                <!--Experience-->
                <div class="exp">
                  <div class="hgroup">
                    <h4><a href="https://aolab.github.io">Amirkabir IoT Laboratory</a>&nbsp; [ 2015 - 2017 ]</h4>
                    <h6><i class="fas fa-thumbtack"></i><b class="bold"><a class="gpacolor" href="http://aut.ac.ir/aut/">Amirkabir University of Technology</a></b>, Tehran, Iran</h6>
                  </div>
                  <p class="tab">First IoT Labratory in Amirkabir University of Technology</p>
                  <br>
                </div>
                <!--End experience-->
              </div>
              <!--End experience holder-->
            </div>
          </div>
          <!--End row-->
        </div>
        <!--End timeline-->
      </div>

      <div class="block-content">
        <h4>In the Wild</h4>
        <!--Timeline-->
        <div class="timeline experience">
          <!--Row-->	
          <div class="row">
            <div class="col-md-12">
              <!--Experience holder-->	
              <div class="exp-holder margTop">
                <!--Experience-->
                <div class="exp">
                  <div class="hgroup">
                    <h4><a href="https://github.com/nahalco">Lian Smart Cloud based Monitoring (Nahal)</a>&nbsp; [ 2017 - 2017 ]</h4>
                    <h6><i class="fas fa-thumbtack"></i>Tehran, Iran</h6>
                  </div>
                  <p class="tab">Nahal is a corporation that targets Home Safety and Security by building IoT enabled hardwares.</p>
                  <br>
                </div>
                <!--End experience-->
              </div>
              <!--End experience holder-->
            </div>
          </div>
          <!--End row-->
        </div>
        <!--End timeline-->
      </div>

    </div>
    <!--End content-->

    <!--Button-->
    <div class="button margTop ofsInTop tCenter">
      <!--Row-->
      <app-divider></app-divider>
      <!--End row-->
    </div>
    <!--End button-->
  </div>
  <!--End experience-->
</section>
<!--End experience tab-->

