#headshot {
	border-radius: 0 120px 120px 120px;
	margin-top: 10px;
	margin-bottom: 5px;
	width: 300px;
	transition: width 2s, height 4s, border-radius 2s;
}

#headshot:hover {
	width: 400px;
	border-radius: 0 60px 60px 60px;
}
