#headshot {
	border-radius: 0 120px 120px 120px;
	margin-top: 10px;
	margin-bottom: 35px;
	margin-right: 50px;
	width: 300px;
	float: left;
	transition: width 2s, height 4s, border-radius 2s;
}

#headshot:hover {
	width: 350px;
	border-radius: 0 60px 60px 60px;
}

p {
	width: 50%;
}

.clear-both {
	clear: both;
}
