#headshot {
	border-radius: 0 120px 120px 120px;
	margin-top: 10px;
	margin-bottom: 35px;
	margin-right: 50px;
	width: 300px;
	float: left;
	transition: width 2s, height 4s, border-radius 2s;
}

#headshot:hover {
	width: 350px;
	border-radius: 0 60px 60px 60px;
}

#logoshot {
	width: 300px;
	float: left;
}

p {
	width: 75%;
}

.clear-both {
	clear: both;
}

.interests-tooltip {
	position: absolute;
	display: none;
	font-size: 13px;
	line-height: 1.4;
	background-color: orange;
	width: 33.3%;
}

.intersts-tooltip:hover {
	display: block;
}

.interests-tooltip p {
	width: 100%;
}
