---
import Divider from "../components/Divider.astro";
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout
	title="Education - Parham Alvani | Ph.D. in Computer Network"
	description="Educational background of Parham Alvani: Ph.D. and M.Sc. in Computer Network, B.Sc. in Computer Software Engineering from Amirkabir University of Technology."
>
	<section id="education" class="bgWhite ofsInBottom">
		<div class="expertise">
			<Title title="Education" />
			<div class="content">
				<div class="block-content">
					<div class="timeline education">
						<div class="row">
							<div class="col-md-12">
								<div class="exp-holder margTop">
									<div class="exp">
										<div class="hgroup">
											<h4>Ph.D. in Computer Network</h4>
											<h6><i class="fas fa-calendar" />2019 - 2024</h6>
											<h6>
												<i class="fas fa-thumbtack" />
												<b class="bold">
													<a class="gpacolor" href="https://aut.ac.ir/">
														Amirkabir University of Technology
													</a>
												</b>, Tehran, Iran
											</h6>
										</div>
										<br />
									</div>
									<div class="exp">
										<div class="hgroup">
											<h4>M.Sc. in Computer Network</h4>
											<h6><i class="fas fa-calendar" />2017 - 2019</h6>
											<h6>
												<i class="fas fa-thumbtack" />
												<b class="bold">
													<a class="gpacolor" href="https://aut.ac.ir/">
														Amirkabir University of Technology
													</a>
												</b>, Tehran, Iran
											</h6>
										</div>
										<br />
									</div>
									<div class="exp">
										<div class="hgroup">
											<h4>B.Sc. Computer Engineering (Software Engineering)</h4>
											<h6><i class="fas fa-calendar" />2013 - 2017</h6>
											<h6>
												<i class="fas fa-thumbtack" />
												<b class="bold">
													<a class="gpacolor" href="https://aut.ac.ir/">
														Amirkabir University of Technology
													</a>
												</b>, Tehran, Iran
											</h6>
										</div>
										<br />
									</div>
									<div class="exp">
										<div class="hgroup">
											<h4>High School Diploma in Mathematics and Physics</h4>
											<h6><i class="fas fa-calendar" />2009 - 2013</h6>
											<h6>
												<i class="fas fa-thumbtack" />
												<b class="gpacolor">Energy Atomic High School</b>, Tehran,
												Iran
											</h6>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row margTop">
					<div class="col-md-12">
						<p>
							Reports and Assignments are available at{" "}
							<a href="https://github.com/9231058">this</a> Github organization.
						</p>
					</div>
				</div>
			</div>

			<div class="button margTop ofsInTop tCenter">
				<Divider />
			</div>
		</div>
	</section>
</Layout>
