---
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout
	title="Lectures - Parham Alvani | Teaching & Courses"
	description="Teaching materials and courses by Parham Alvani: Internet Engineering, Python 201, and Introduction to Programming."
>
	<section id="lecture" class="bgWhite ofsInBottom">
		<div class="expertise">
			<Title title="Lectures" />
			<div class="content">
				<div class="block-content">
					<div class="timeline book">
						<div class="row">
							<div class="col-md-12">
								<div class="exp-holder margTop">
									<div class="exp">
										<div class="hgroup">
											<h4>Internet Engineering</h4>
											<h6>
												<i class="fas fa-external-link-alt" />
												<a href="https://1995parham-teaching.github.io/ie-lecture/">
													Course Homepage
												</a>
											</h6>
										</div>
									</div>
									<div class="exp">
										<div class="hgroup">
											<h4>Python 201</h4>
											<h6>
												<i class="fas fa-external-link-alt" />
												<a href="https://1995parham-teaching.github.io/Python201/">
													Course Homepage
												</a>
											</h6>
										</div>
									</div>
									<div class="exp">
										<div class="hgroup">
											<h4>Introduction to Programming</h4>
											<h6>
												<i class="fas fa-external-link-alt" />
												<a href="https://github.com/1995parham-teaching/c-lecture/">
													Course Homepage
												</a>
											</h6>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</Layout>
