<!--Wrapper-->
<div id="wrapper" class="margLTop margLBottom">
  <!--Container-->
  <div class="container">
    <div class="row">
      <!--Left content-->
      <div class="col-md-3 left-content">
        <!--Header-->
        <header id="header">
          <!--Main header-->
          <div class="main-header">
            <!--Profile image-->
            <figure class="img-profile">
              <img src="assets/img/profile.png" alt="Parham Alvani">
              <figcaption class="name-profile"><span>PARHAM ALVANI</span></figcaption>
            </figure>
            <!--End profile image-->
            <!--Main navigation-->
            <nav id="main-nav" class="main-nav clearfix tabbed">
              <ul>
                <li class="nav-item">
                  <a routerLink="/about" routerLinkActive="active" class="nav-link"><i class="fas fa-user"></i>About Me</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/education" routerLinkActive="active" class="nav-link"><i class="fas fa-graduation-cap"></i>Education</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/experience" routerLinkActive="active" class="nav-link"><i class="fas fa-briefcase"></i>Work</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/contact" routerLinkActive="active" class="nav-link"><i class="fas fa-pen"></i>Contact</a>
                </li>
                <li class="nav-item">
                  <a href="https://1995parham.github.io/stopwatch/" target="_blank" class="nav-link"><i class="fas fa-stopwatch"></i>Stopwatch</a>
                </li>
                <li class="nav-item">
                  <a href="https://1995parham.github.io/MeInBSc/" target="_blank" class="nav-link"><i class="fas fa-memory"></i>Me in B.Sc.</a>
                </li>
              </ul>
            </nav>
            <!--End main navigation-->
          </div>
          <!--End main header-->
          <div class="bottom-header bgWhite ofsTSmall ofsBSmall tCenter">
            <ul class="social">
              <li class="anim">
                <a href="https://github.com/1995parham" target="_blank"><i class="fab fa-github"></i></a>
              </li>
              <li class="anim">
                <a href="http://stackoverflow.com/users/4242097/parham-alvani" target="_blank"><i class="fab fa-stack-overflow"></i></a>
              </li>
              <li class="anim">
                <a href="https://instagram.com/1995parham" target="_blank"><i class="fab fa-instagram"></i></a>
              </li>
              <li class="anim">
                <a href="https://twitter.com/1995parham" target="_blank"><i class="fab fa-twitter"></i></a>
              </li>
            </ul>
            <p>Success is the sole earthly judge of right and wrong</p>
          </div>
        </header>
        <!--End  header-->
      </div>
      <!--End left content-->
      <!--Right content-->
      <div class="col-md-9 right-content">
        <router-outlet></router-outlet>
      </div>
      <!--End right content-->
    </div>
    <!--End row-->
  </div>
  <!--End container-->
</div>
<!--End wrapper-->
