<!--Wrapper-->
<div id="wrapper" class="margLTop  margLBottom">
  <!--Container-->
  <div class="container">
    <div class="row ">
      <!--Left content-->
      <div class="col-md-3 nopr left-content">
        <!--Header-->
        <header id="header">
          <!--Main header-->
          <div class="main-header">
            <!--Profile image-->
            <figure class="img-profile">
              <img src="assets/img/profile.png" alt="Parham Alvani">
              <figcaption class="name-profile"><span>PARHAM ALVANI</span></figcaption>
            </figure>
            <!--End profile image-->
            <!--Main navigation-->
            <nav id="main-nav" class="main-nav clearfix tabbed">
              <ul>
                <li class="nav-item">
                  <a href="#about" class="nav-link active"><i class="icon-user"></i>About ME</a>
                </li>
                <li class="nav-item">
                  <a href="#portfolio" class="nav-link"><i class="icon-graduation-cap"></i>EDUCATION</a>
                </li>
                <li class="nav-item">
                  <a href="#blog" class="nav-link"><i class="icon-briefcase"></i>WORK EXPERIENCE</a>
                </li>
                <li class="nav-item">
                  <a href="#contact" class="nav-link"><i class="icon-pencil"></i>TEACHING</a>
                </li>
              </ul>
            </nav>
            <!--End main navigation-->
          </div>
          <!--End main header-->
        </header>
        <!--End  header-->
      </div>
      <!--End left content-->
      <!--Right content-->
      <div class="col-md-9 right-content">
        <!--About Tab-->
        <section id="about" class="bgWhite ofsInBottom" style="display: block" >
          <!--About -->
          <div class="about">
            <!--Main title-->
            <!--End main title-->
            <!--Content-->
            <div class="content">

              <!--Block content-->
              <div class="block-content margBSmall">

                <div class="profile margBSmall">
                  <h1>PARHAM ALVANI</h1>
                  <h3>Go developer</h3>
                </div>

                <!--Row-->
                <div class="row">
                  <div class="col-md-8">
                    <p>
                      I was born in February 20 1995 in Tehran where I currently live and study
                      Network Engineering at Amirkabir University of Technology.
                    </p>
                    <br>
                    <p>
                      I'm interested in networks and using of it in Internet of Things
                      and I do my best to improve the network connections of things around the world.
                    </p>
                    <br/>
                    <b class="icon-mail" style="font-weight: bold">Email</b> &nbsp;:&nbsp; parham.alvani <b style="font-weight: bold">at</b> gmail <b style="font-weight: bold">dot</b> com
                    <br/>
                    <b class="icon-code" style="font-weight: bold">Website</b> &nbsp;:&nbsp; <a href="https://1995parham.github.io/" target="_blank">https://1995parham.github.io/</a>
                    <br/>
                    <b class="icon-phone" style="font-weight: bold">Phone</b> &nbsp;:&nbsp; <a href="tel://+989390909540" style="color: #777">(+98) 939 0909 540</a>
                  </div>
                  <div class="col-md-4">
                    <b style="font-size:18px; font-weight: bold">Interests:</b>
                    <ul class="bullet">
                      <li>Internet of Things (IoT)</li>
                    </ul>
                    <b style="display: block; font-size:18px; font-weight: bold; margin-top: 30px;">TOEFL iBT score: </b> <b>(95/120)</b>
                    <ul class="bullet">
                      <li>Reading: (28/30)</li>
                      <li>Listening: (27/30)</li>
                      <li>Speaking: (20/30)</li>
                      <li>Writing: (20/30)</li>
                    </ul>
                  </div>
                </div>
                <!--End row-->
              </div>
              <!--End block content-->
            </div>
            <!--End content-->

            <!--Button-->
            <div class="button margTop ofsInTop tCenter">
              <!--Row-->
              <!--End row-->
            </div>
            <!--End button-->
          </div>
          <!--End about-->
        </section>
        <!--End about tab-->
        <!--Education Tab-->
        <section id="education" class="bgWhite ofsInBottom" style="display: none">
          <!--Portfolio -->
          <div class="portfolio">
            <!--Education Main title-->
            <!--End main title-->
            <!--Content-->
            <!--End content-->

            <!--Button-->
            <div class="button margTop ofsInTop tCenter">
              <!--Row-->
              <!--End row-->
            </div>
            <!--End button-->
          </div>
          <!--End portfolio-->
        </section>
        <!--End portfolio tab-->
        <!--Experience Tab-->
        <section id="teaching" class="bgWhite ofsInBottom" style="display: none">
          <!--Blog -->
          <div class="blog">
            <!--Experience Main title-->
            <!--End main title-->
            <!--Content-->
            <!--End content-->

            <!--Button-->
            <div class="button margTop ofsInTop tCenter">
              <!--Row-->
              <!--End row-->
            </div>
            <!--End button-->
          </div>
          <!--End blog-->
        </section>
        <!--End blog tab-->
        <!--Teaching Tab-->
        <section id="work-exp" class="bgWhite ofsInBottom" style="display: none">
          <!--Contact -->
          <div class="contact">
            <!--Experience Main title-->
            <!--End main title-->
            <!--Content-->
            <!--End content-->

            <!--Button-->
            <div class="button margTop ofsInTop tCenter">
              <!--Row-->
              <!--End row-->
            </div>
            <!--End button-->
          </div>
          <!--End contact-->
        </section>
        <!--End contact tab-->
      </div>
      <!--End right content-->
    </div>
    <!--End row-->
  </div>
  <!--End container-->
</div>
<!--End wrapper-->
