<!--About Tab-->
<section id="about" class="bgWhite ofsInBottom">
  <!--About -->
  <div class="about">
    <!--Main title-->
    <div class="main-title"><h1>Who am I</h1> <div class="divider"><div data-svg-drawing="yes" class="zigzag large clearfix "><svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1"><path d="M1.357,12.26 10.807,2.81 20.328,12.332
    29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 " style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"></path></svg></div></div></div>
    <!--End main title-->
    <!--Content-->
    <div class="content">

      <!--Block content-->
      <div class="block-content margBSmall">

        <div class="profile margBSmall">
          <h1>PARHAM ALVANI</h1>
          <h3>Go developer</h3>
        </div>

        <!--Row-->
        <div class="row">
          <div class="col-md-8">
            <p>
              I was born in February 20 1995 in Tehran where I currently live and study
              Network Engineering at Amirkabir University of Technology.
            </p>
            <br>
            <p>
              I'm interested in networks and using of it in Internet of Things
              and I do my best to improve the network connections of things around the world.
            </p>
            <br/>
          </div>
          <div class="col-md-4">
            <b style="font-size:18px; font-weight: bold">Interests:</b>
            <ul class="bullet">
              <li>Internet of Things (IoT)</li>
              <li>Software Defined Networking (SDN)</li>
              <li>Network Function Virtualization (NFV)</li>
              <li>Kernel Hacking</li>
              <li>Mathematical Optimization</li>
            </ul>
            <b style="display: block; font-size:18px; font-weight: bold; margin-top: 30px;">TOEFL iBT score: </b> <b>(95/120)</b>
            <ul class="bullet">
              <li>Reading: (28/30)</li>
              <li>Listening: (27/30)</li>
              <li>Speaking: (20/30)</li>
              <li>Writing: (20/30)</li>
            </ul>
          </div>
        </div>
        <!--End row-->
      </div>
      <!--End block content-->
    </div>
    <!--End content-->

    <!--Button-->
    <div class="button margTop ofsInTop tCenter">
      <!--Row-->
      <app-divider></app-divider>
      <div class="row">
        <div class="col-md-12">
          <a target="_blank" href="parham-cv.pdf" class="but opc-2"><i class="fas fa-paperclip"></i> Here's my CV</a>
        </div>
      </div>
      <!--End row-->
    </div>
    <!--End button-->
  </div>
  <!--End about-->
</section>
<!--End about tab-->
