<!--About Tab-->
<section id="about" class="bgWhite ofsInBottom">
  <!--About -->
  <div class="about">
    <!--Main title-->
    <app-main-title title="Who am I?"></app-main-title>
    <!--End main title-->
    <!--Content-->
    <div class="content">

      <!--Block content-->
      <div class="block-content margBSmall">

        <div class="profile margBSmall">
          <h1>Parham Alvani</h1>
          <h3>Backend developer</h3>
        </div>

        <!--Row-->
        <div class="row">
          <div class="col-md-8">
            <p>
              I was born in February 20 1995 in Tehran where I currently live and study
              Network Engineering at Amirkabir University of Technology.
            </p>
            <br>
            <p>
              I'm interested in networks and using of them in Internet of Things
              and I do my best to improve the network connections of things around the world.
            </p>
            <br/>
            <img src="assets/img/old.jpg" alt="Parham Alvani">
          </div>
          <div class="col-md-4">
            <b style="font-size:18px; font-weight: bold">Interests:</b>
            <ul class="bullet">
              <li>Internet of Things (IoT)</li>
              <li>Software Defined Networking (SDN)</li>
              <li>Network Function Virtualization (NFV)</li>
              <li>Kernel Hacking</li>
              <li>Mathematical Optimization</li>
            </ul>
            <b style="display: block; font-size:18px; font-weight: bold; margin-top: 30px;">TOEFL iBT score: </b> <b>(95/120)</b>
            <ul class="bullet">
              <li>Reading: (28/30)</li>
              <li>Listening: (27/30)</li>
              <li>Speaking: (20/30)</li>
              <li>Writing: (20/30)</li>
            </ul>
          </div>
        </div>
        <!--End row-->
      </div>
      <!--End block content-->
    </div>
    <!--End content-->

    <!--Button-->
    <div class="button margTop ofsInTop tCenter">
      <!--Row-->
      <app-divider></app-divider>
      <div class="row">
        <div class="col-md-12">
          <a target="_blank" href="https://github.com/1995parham/1995parham.github.io/raw/src/resume/resume.pdf" class="but opc-2"><i class="fas fa-paperclip"></i> Here's my CV</a>
        </div>
      </div>
      <!--End row-->
    </div>
    <!--End button-->
  </div>
  <!--End about-->
</section>
<!--End about tab-->
