<!--Contact Tab-->
<section id="contact" class="bgWhite ofsInBottom">
  <!--Contact -->
  <div class="contact">
    <!--Main title-->
    <app-main-title title="Contact Me"></app-main-title>
    <!--End main title-->
    <!--Content-->
    <div class="content">

      <!--Block content-->
      <div class="block-content margBSmall">

        <!--Row-->
        <div class="row">
          <div class="col-md-8">
            <b style="font-weight: bold"><i class="fab fa-google"></i> Email</b>:&nbsp; parham.alvani <b style="font-weight: bold">at</b> gmail <b style="font-weight: bold">dot</b> com
            <br/>
            <b style="font-weight: bold"><i class="fab fa-windows"></i> Email</b>:&nbsp; parham.alvani <b style="font-weight: bold">at</b> hotmail <b style="font-weight: bold">dot</b> com
            <br/>
            <b style="font-weight: bold"><i class="fab fa-yahoo"></i> Email</b>:&nbsp; parham.alvani <b style="font-weight: bold">at</b> yahoo <b style="font-weight: bold">dot</b> com
            <br/>
            <b style="font-weight: bold"><i class="fas fa-university"></i> Email</b>:&nbsp; parham.alvani <b style="font-weight: bold">at</b> aut <b style="font-weight: bold">dot</b> ac <b style="font-weight: bold">dot</b> ir
            <br/>
            <b style="font-weight: bold"><i class="fab fa-skype"></i> Skype</b>:&nbsp; parham.alvani
            <br/>
            <b style="font-weight: bold"><i class="fas fa-phone"></i> Phone</b>:&nbsp; <a href="tel://+989390909540" style="color: #777">(+98) 939 0909 540</a>
            <app-divider></app-divider>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1619.3816381224674!2d51.39193202301899!3d35.73203999512105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzXCsDQzJzU1LjMiTiA1McKwMjMnMzQuOSJF!5e0!3m2!1sen!2sru!4v1547934894981" width="600" height="450" frameborder="0" style="border:0; width: 100%;" allowfullscreen></iframe>
          </div>
          <div class="col-md-4">
            <a href="https://api.github.com/users/1995parham/keys" target="_blank" role="button" class="btn btn-outline-dark">Public Keys</a>
          </div>
        </div>
        <!--End row-->
      </div>
      <!--End block content-->
    </div>
    <!--End content-->
  </div>
  <!--End contact-->
</section>
<!--End contact tab-->

